nav{
    position: fixed;
    min-width: 290px;
    top:0px;
    left:0px;
    width:300px;
    height:100%;
    .title{
        margin: 10px;
        text-align: center;
        font-size: 1.8em;
    }
    a{
        display: block;
        padding: 10px 30px;
        color: #fff;
        text-decoration: none;
        cursor:pointer;
        transition: all 1.5;
        &:hover{
            background-color: #fff;
            color:black;
        }
    }
    ul{
        height: 80%;
        padding: 0 20px;
        overflow-y: auto;
        overflow-x: hidden;
        li{
            border-top:1px solid #fff;
            list-style: none;
            position: relative;
            width: 100%;
        }
    }
}