@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #2b2a33;
    font-family: 'Poppins', sans-serif;

}

.center-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.center-box h1{
    color: #fff;

}

.center-box .palin-text{
    margin-top: 3rem;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
}

input[type=text]{
    font-style: italic;
}